#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.no-bullets {
  list-style: none; /* Remove default list styling */
  padding: 0;
  margin: 0;
}

.no-bullets li {
  margin-bottom: 8px;
  float: left; /* Adjust spacing between items as needed */
  
}

.nav-links {
  display: block;
  padding: 8px;
  background-color: #dddddd;
}
li {
margin: 2px;
}
input {
  margin: 6px;
}